*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}



body{

background:#f4f7fb;

}




header{

background:#003366;
color:white;
padding:15px 8%;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;

}




.logo{

display:flex;
align-items:center;
gap:15px;

}



.logo img{

width:70px;
height:70px;
background:white;
border-radius:50%;

}




nav ul{

display:flex;
list-style:none;
gap:20px;

}




nav a{

color:white;
text-decoration:none;

}



nav a:hover,
.active{

color:gold;

}




.hero{

background:#00509d;
color:white;
text-align:center;
padding:70px 20px;

}



.hero h1{

font-size:45px;
margin-bottom:10px;

}





.gallery-container{

padding:60px 8%;

}




.album{

margin-bottom:50px;

}



.album h2{

color:#003366;
margin-bottom:25px;

}




.gallery-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;

}




.gallery-grid img{

width:100%;
height:250px;
object-fit:cover;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
transition:.4s;

}



.gallery-grid img:hover{

transform:scale(1.05);

}




footer{

background:#003366;
color:white;
text-align:center;
padding:20px;

}





@media(max-width:768px){

header{

flex-direction:column;
gap:20px;

}


nav ul{

flex-wrap:wrap;
justify-content:center;

}

.hero h1{

font-size:35px;

}

}