*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}



body{

background:#f4f7fb;

}





header{

background:#003366;
color:white;
padding:15px 8%;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;

}




.logo{

display:flex;
align-items:center;
gap:15px;

}




.logo img{

width:70px;
height:70px;
background:white;
border-radius:50%;

}





nav ul{

display:flex;
list-style:none;
gap:20px;

}



nav a{

color:white;
text-decoration:none;

}



nav a:hover,
.active{

color:gold;

}





.hero{

background:#00509d;
color:white;
text-align:center;
padding:70px 20px;

}



.hero h1{

font-size:45px;

}





.news-container{

padding:60px 8%;

}





.featured{

background:#003366;
color:white;
padding:35px;
border-radius:15px;
margin-bottom:50px;

}



.featured h2{

color:gold;
margin-bottom:15px;

}



.featured span{

display:block;
margin-top:20px;
font-size:14px;

}





.title{

color:#003366;
margin-bottom:30px;

}





.news-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;

}





.news-card{

background:white;
border-radius:15px;
overflow:hidden;
box-shadow:0 5px 15px rgba(0,0,0,.15);

}





.news-card img{

width:100%;
height:220px;
object-fit:cover;

}




.news-card div{

padding:25px;

}




.news-card h2{

color:#003366;
margin-bottom:15px;

}




.news-card p{

line-height:1.7;

}




.news-card a{

display:inline-block;
margin-top:15px;
background:#00509d;
color:white;
padding:10px 20px;
border-radius:20px;
text-decoration:none;

}





.notice-board{

background:white;
padding:35px;
border-radius:15px;
margin-top:50px;
box-shadow:0 5px 15px rgba(0,0,0,.1);

}




.notice-board h2{

color:#003366;
margin-bottom:20px;

}



.notice-board li{

padding:12px;
border-bottom:1px solid #ddd;

}




footer{

background:#003366;
color:white;
text-align:center;
padding:20px;

}





@media(max-width:768px){

header{

flex-direction:column;
gap:20px;

}


nav ul{

flex-wrap:wrap;
justify-content:center;

}


.hero h1{

font-size:35px;

}

}